.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    border: 1px solid #0005;
    background-color: var(--mantine-color-blue-5);
    width: 100vw;
}

.taskbarIcons {
    display: flex;
    align-items: center;
}